/*variable definitions*/
$primary-color: #0A0A0A;
$secondary-color: #ffffff;
$alternative-color-1: #09a86b;
$alternative-color-2: #bbe611;
$alternative-color-2-1: #b5ec48;
$alternative-color-3: #1171e6;
$alternative-color-4: #5CF4C9;
$alternative-color-5: rgba(255, 255, 255, 0.3568627451);
$alternative-color-6: rgba(255, 255, 255, 0.501);
$alternative-color-7: #e6c611;
$alternative-color-8: #53e4bb;
$alternative-color-9: #0771533b;